<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/style.css">

  <title>Personal Development Control</title>
</head>

<body>
  <header style="background-color: rgba(137, 211, 230, 0.295);">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#"><strong><i>Personal Development Control</i></strong></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="mr-auto"></div>
        <div class="navbar-nav ">
          <a class="nav-item nav-link" href="#">Home<span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="/subjects">Subjects</a>
          <a class="nav-item nav-link" href="#">Progress</a>
          <a class="nav-item nav-link" href="#">About</a>
          
        </div>
      </div>
    </nav>

    <div class="container text-center" style=" margin-top: 20px;">
      <div class="row">
        <div style="margin-top: 60px; margin-bottom: 150px;" class="col-md-7 col-sm-12">
          <i class="fas fa-book-reader fa-3x mx-3"></i>
          <h6>PERSONAL DEVELOPMENT CONTROL</h6>
          <h1>EXCITING ADVENTURE</h1>
          <P>This website was created to provide up-to-date information about the progress of the kids</P>
          <button class="btn btn-light px-5 py-2" style="box-shadow: 0px 20px 42px rgba(0, 0, 0, 0.2);">START THE JOURNEY</button>
        </div>
        <div class="col-md-5 col-sm-12 h-30">
          <img src="../src/child.jpg" alt="book" style="margin-bottom: 165px;margin-top: 60px; opacity: 0.8; width: 120%; border-radius: 0.2em; box-shadow: 0px 20px 42px rgba(0, 0, 0, 0.2);">
        </div>
        
      </div>
    </div>

  </header>
  <main>
    <section class="section-1">
      <div style="margin-bottom: 80px;" class="container text-center">
        <div class="row">
          <div class="col-md-6">
            <div class="pray">
              <img src="../src/coder.jpg" alt="">
            </div>
          </div>
          <div class="col-md-6">
            <div class="panel text-left">
              <h1 class="pt-7">Mr. Bahtiyorjon Arslonbekov</h1>
              <p class="pt-4">I am a junior fullstack developer from Tashkent, Uzbekistan. I enjoy taking complex problems and turning them into simple and beautiful interface designs. I also love the logic and efficient code, whether it be HTML, CSS or Python. When I am not coding or pushing pixels, you will find me playing a musical instrument like piano and guitar.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section style="margin-bottom: 100px;" class="section-2 container-fluid p-0">
      <div class="cover">
        <div class="content text-center">
          <h1>Some special features that make us unique</h1>
          <p>
            We are awesome! We want more!
          </p>
        </div> 
      </div>
      
      
        <div class="purchase text-center">
          <h1 style="padding-top: 15vmid; padding-bottom: 0.1em; margin-top: 70px; margin-bottom: 30px; font-family: sans-serif; box-shadow: 5px;">Follow your favorite ranger</h1>
          
            <div class="cards">
              <div class="d-flex flex-row justify-content-center flex-wrap">
                
                <!-- first card -->
                <div class="card">
                  <div class="card-body">
                    <div class="title">
                      <h5 class="card-title">Saidburxon</h5>
                    </div>
                    <p class="card-text">Ranger 001</p>
                    <div class="age">
                      <h1>11 y.o.</h1>
                      <a href="#" class="btn btn-dark px-5 py-2">Follow now</a>
                    </div>
                  </div>

                </div>
                <!-- second card -->
                <div class="card">
                  <div class="card-body">
                    <div class="title">
                      <h5 class="card-title">Pahlavon</h5>
                    </div>
                    <p class="card-text">Ranger 002</p>
                    <div class="age">
                      <h1>10 y.o.</h1>
                      <a href="#" class="btn btn-dark px-5 py-2">Follow now</a>
                    </div>
                  </div>

                </div>

                <!-- third card -->
                <div class="card">
                  <div class="card-body">
                    <div class="title">
                      <h5 class="card-title">Umidjon</h5>
                    </div>
                    <p class="card-text">Ranger 003</p>
                    <div class="age">
                      <h1>11 y.o.</h1>
                      <a href="#" class="btn btn-dark px-5 py-2">Follow now</a>
                    </div>
                  </div>

                </div>


              </div>
            </div>
        </div>    
    </section> 

  </main>
  <footer>
    <div class="container-fluid p-0">
      <div class="row text-left">
        <div class="col-md-5 col-md-5">
          <h1 class="text-light">About Us</h1>
          <p class="text-muted">We help you move into a new life!</p>
          <p class="pt-4 text-muted">Copyright © 2020 All rights reserved | This site is made by <a href="https://cvresume.neocities.org">Bahtiyorjon Arslonbekov</a></p>
        </div>
        <div class="col-md-5">
          <h4 class="text-light">NewsLetter</h4>
          <p class="text-muted">Stay Updated</p>
          <form class="form-inline">
            <div class="col pl-0">
              <div class="input-group pr-5">
                <input type="text" class="form-control bg-dark text-white" placeholder="Email">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="fa fa-smile-o" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-2 col-sm-12">
          <h4 class="text-light">Follow Us</h4>
          <p class="text-muted">Let us be social</p>
          <div class="column">
            <i class="fab fa-instagram"></i>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" ></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>