<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Subjects</h1>
    <table>
        <thead>
            <tr>
                <th>No.</th>
                <th>Name</th>
                <th>Hours per week</th>
                <th>Tutor</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>1</td>
                <td>English</td>
                <td>7</td>
                <td>Mrs. Gulasal</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Python</td>
                <td>7</td>
                <td>Mrs. Gulasal</td>
            </tr>
            <tr>
                <td>3</td>
                <td>P.I.</td>
                <td>14</td>
                <td>Mr. Bahtiyorjon</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Maths</td>
                <td>7</td>
                <td>Mrs. Arofat</td>
            </tr>
        </tbody>
    </table>
</body>
</html>